html,
body {
  // overflow: hidden; //comment out later plz
  transition: 0.4s;
  height: 100%;
  width: 100%;
  margin: 0;
  @media (max-width: 1280px) {
    // overflow: scroll;
  }

  #content-layout {
    margin-top: 157px;
    transition: 0.4s;
  }
}
::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-100%, 0);
}

.sidebar-container {
  width: 18.4%;
}
.page-container {
  width: 47.3%;
}
.suggestions-container {
  width: 34.3%;
}
h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $primary-color;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
h2 span {
  padding: 0 10px;
}
.login-banner {
  width: 93.5%;
  max-width: 100%;
  height: auto;
}
.input-height {
  height: 45px;
  @media (max-width: 400px) {
    height: 40px;
  }
}
.login-form input[type='text']::placeholder {
  margin-left: 30px;
}
.infinity-divider {
  background: rgba(229, 231, 235, 0.9);
  position: absolute;
  height: 1px;
  z-index: 1;
  top: 6rem;
}

::placeholder {
  color: red;
  margin-left: 30px;
}

@media (max-width: 1500px) {
  .sidebar-container {
    width: 20.4%;
  }
  .page-container {
    width: 50%;
  }
  .suggestions-container {
    width: 29.6%;
  }
}

@media (max-width: 1279px) {
  .sidebar-container {
    width: 0;
  }
  .page-container {
    width: 100%;
  }
  .suggestions-container {
    width: 100%;
  }
}

@for $i from 1 through 3 {
  $url: '/images/service-' + $i + '.png';
  .card-store-bg--#{$i} {
    background-repeat: no-repeat;
    background-image: url($url);
    background-position: center;
  }
}
.store-template {
  padding-left: 0.5em;
  padding-right: 0.5em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @media (max-width: 1550px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.card-store {
  box-shadow: inset 0px 33.15px 47.6px -30.6px rgba(255, 255, 255, 0.5),
    inset 0px 5.95px 9.35px -3.4px #ffffff,
    inset 0px -69.7px 57.8px -54.4px rgba(96, 68, 145, 0.3),
    inset 0px 83.3px 85px -40.8px rgba(35, 61, 155, 0.34),
    inset 0px 3.4px 15.3px rgba(154, 146, 210, 0.3),
    inset 0px 0.85px 34px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(85px);
  background: #e8507e;
  height: 572px;
  @media (max-width: 1279px) {
    height: 500px;
  }
}
.store-card {
  transition: all 0.5s ease-in;
  position: relative;
}
.card__overlay {
  background-color: $overlay-color;
  transition: 0.5s ease;
  position: absolute;
  visibility: none;
  height: 100%;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.overlay__text {
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: 100;
  opacity: 0;
  left: 50%;
  top: 50%;
}
.store-card:hover {
  .card__overlay {
    opacity: 0.67;
  }
  .overlay__text {
    opacity: 1;
  }
}
.top-store-card-title {
  top: 21rem;
}
